@import "../style.scss";

input{
    flex:1
}


.form-control:focus {
    border-color: #9f44d8 !important;
    box-shadow: 0 0 0 0.05rem #9f44d8 !important;
}
//-----------------------------------------------------//
//---------------SPECIAL CASE CLASSES------------------//
//-----------------------------------------------------//

input.input-for-rds-input-group{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}