.testclass{
    color: red;
}

.react-datepicker__input-container input{
    padding: 0.2em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.datepicker__input{
    width: fit-content !important;
    background-color: white;
    border: 2px solid lightgrey;
}

.datepicker__wrapper{
    width: max-content !important;
    display: flex;
}

.datepicker__icon-box{
    display: flex;
    height: fit-content;
}

.datepicker__icon-box .input-group-text{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.dropClass{
    display: none;
}

.daterange__dropdown-item{
    background-color: white;
}
.daterange__dropdown-item:hover{
    background-color: lightblue;
    color: white;
}