.borderr1{
    border:1px solid #C3C4C5 !important;
    border-radius: 4px !important;
}
.cardname{
    font: normal normal normal 16px/25px Poppins;
letter-spacing: 0px;
}
#flexRadioD{
border-radius: 50% !important; 

}
#flexRadioD:checked{
    border-radius: 50% !important;  
  
}