.closed{
    display: none;
}

.shown1{
    width: 99% !important;
    align-items: center;
    margin: 5px !important;
    border-radius: 4px;
    font: normal normal normal 16px/25px Poppins;
    z-index: auto !important;
}
.icon__style{
padding: 7px 10px 10px 10px;
margin-right: 20px;
border-radius: 50%;
}
#alert__1{
    margin-top:10px;
    margin-bottom: 10px;
}