
  
//   .slider {
//     position: relative;
//     width: 200px;
//   }
  
//   .slider__track,
//   .slider__range,
//   .slider__left-value,
//   .slider__right-value {
//     position: absolute;
//   }
  
//   .slider__track,
//   .slider__range {
//     border-radius: 3px;
//     height: 5px;
//   }
  
//   .slider__track {
//     background-color: #ced4da;
//     width: 100%;
//     z-index: 1;
//   }
  
//   .slider__range {
//     background-color: #9fe5e1;
//     z-index: 2;
//   }
  
//   .slider__left-value,
//   .slider__right-value {
//     color: #dee2e6;
//     font-size: 12px;
//     margin-top: 20px;
//   }
  
//   .slider__left-value {
//     left: 6px;
//   }
  
//   .slider__right-value {
//     right: -4px;
//   }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
  }
  
  .thumb--zindex-3 {
    z-index: 3;
  }
  
  .thumb--zindex-4 {
    z-index: 4;
  }
  
  .thumb--zindex-5 {
    z-index: 5;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  .slider_1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    pointer-events: none;
  
  }

  .slider_1::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
  }

  .slider_1::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #7E2EEf;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
  }
  .slider_2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    pointer-events: none;
  }
  
  .slider_2::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
  }
  
  .slider_2::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #7E2EEf;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
  }
  
  .slider_2::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #f4f5f8;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    border: 2px solid #7E2EEf;
  }
   .slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    border-radius: 5px;
    background-color: #d0d7dd;
  }

  #range1::before {
    content: attr(data-tooltip);
    padding: 4px;
  }
  
  #range2::before {
    content: attr(data-tooltip);
    padding: 0px;;
  }
  
 
  
  .sliderTooltipRangeOne::after {
    display: block;
    content: "";
    background: #8350cb;
    position: absolute;
    border: 1px #8350cb solid;
    border-top: 0;
    border-left: 0;
    width: 8px;
    height: 8px;
    left: 10px;
    bottom: -4px;
    transform: rotate(45deg);
  }
  
  .sliderTooltipRangeOne {
    display: block;
    position: absolute;
    color: #ffff;
    max-width: 100%;
    background: #8350cb;
    border-top: 0;
    border-left: 0;
    //padding: 0.25rem;
    border-radius: 0.2rem;
    top: -0.4rem;
  }
  
 
  
 
  