.searchBar__right{
    border-left: none !important;

}
.searchBar__left{
    border-right: none !important;
}
.iconButton__left{
    border-right: none !important;
    background-color: #F4F7F9 !important;
    border-radius:4px 0 0 4px !important;
}
.iconButton__right{
    border-left: none !important;
    background-color: #F4F7F9 !important;
    border-radius: 0 4px 4px 0 !important;
}

.search__input__right{
    border-left: none !important;
    background-color: #F4F7F9 !important;
}
.search__input__left{
    border-right: none !important;
    background-color: #F4F7F9 !important;
}
.searchIconMed{
    height: 39px;
}

.searchIconLarge{
    height: 48px;
}