.searchBar{
    border-right: none !important;
}
.iconButton{
    border-left: none !important;
    background-color: white !important;
    border-radius: 0 0.375rem 0.375rem 0 !important;
}

.searchIconMed{
    height: 39px;
}

.searchIconLarge{
    height: 48px;
}