.image{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    
}
.defaultcolor{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
// .letters{
//     font-size: 30px;
//     font-weight: 700;
//     color: rgb(21, 4, 37); 
   
// }