.imageSection{
    position: relative;
}

.avatar___Image{
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: -40px;
    border-radius: 50%;
    border: 5px solid white;
}
.cardBody__Avatar{
    margin:54px 20px 28px 20px;

}
.cardBody__withoutAvatar{
    margin:20px 20px 28px 20px;
}
.bottombtn{
    margin-top: 44px;
}