.pointerCur{
    cursor: pointer;
}
.headerr{
    display: flex !important;
    justify-content: space-between !important;
}
.linkk{
    text-decoration: auto;  
}

.form-switch .form-check-input:checked {
    background-position: right center;
    border-radius: 52px;
    width: 36px;
    border-radius: 20px !important;
}