@import '../style.scss' ;

.offcanvas-backdrop.show {
    opacity: 0.3 !important;
}
.offcanvas-header{
    border-bottom: 1px solid #f5f7fe !important;
}
.offCanvasClass{
    height: fit-content !important;
}
.offCanvas_Class{
    height: 100% !important;
}