.singleLine {
  white-space: nowrap;
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.poppins {
  text-align: left;
  font-variant: normal;
  font-weight: medium;
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
