.RdsCompDataTable .avatarTitleInfo span:first-of-type {

    font-weight: bold;
}
.iconAvatarTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
  padding: 8px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.checkbox-Style-class{
  vertical-align: middle;
    text-align-last: center;
}