@import '../style.scss';

#sidebar{
    height: 95vh;
    width: 290px;
    background-color: #F5F5FA;
    position: relative !important;
}

.sidebarList{
    padding:0;
    width:100%;
}

.sidebarList .listRow {
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.list{
    display: flex;flex-direction: row;
    color: #767F86;
    height: 35px;
    font-size: 0.875rem;
}


.darkTheme{
    position: absolute;
    top: 88%;
    left: 31%;
}

.gridIcon{
    position: absolute;
    top: 80%;
    left: 45%;
}

.routingLink{
    all: unset;
    text-decoration: none;
}