@import "../style.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');
.error-msg-color{
    color:red;
}
.body{
    font-family: "Poppins" !important;
}