 li#breadcrumbItems::before{
    float: left;
    
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "") !important;

}
 #breaditem1{
    padding-right: 5px;
} 
