li#breadcrumbItems::before {
  display: none;
  float: left;
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "") !important;
}
.theme-light .breadcrumb-item + .breadcrumb-item::before {
  display: none;
}
